/* ==========================================
   CONNECTOR
========================================== */

.bracket-lines {
    position: relative;
    width: 140px;
    height: 620px;
}

.line-top {
    position: absolute;
    top: 199px;
    left: 0;
    width: 70px;
    height: 2px;
    background: #009dff;
}

.line-bottom {
    position: absolute;
    top: 469px;
    left: 0;
    width: 70px;
    height: 2px;
    background: #009dff;
}

.line-vertical {
    position: absolute;
    top: 199px;
    left: 70px;
    width: 2px;
    height: 270px;
    background: #009dff;
}

.line-final {
    position: absolute;
    top: 334px;
    left: 70px;
    width: 70px;
    height: 2px;
    background: #009dff;
}
