<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>MPC - Home</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

    <div class="logo-text">
        MPC
    </div>

    <div class="nav-links">

        <a href="/" class="active">
            HOME
        </a>

        <a href="/leaderboard">
            LEADERBOARD
        </a>

        <a href="/playoff">
            PLAYOFF STAGE
        </a>

        <a href="/moments">
            MOMENTS
        </a>

    </div>

</nav>


<main class="home">

    <div class="home-content">

        <p class="small-title">
            MPC TOURNAMENT
        </p>

        <h1>
            MPC
        </h1>

        <h2>
            PLAYER • MATCH • CHAMPION
        </h2>

        <p class="welcome">
            Selamat datang ke website MPC.
        </p>

        <div class="home-buttons">

            <a href="/leaderboard"
               class="button">
                LEADERBOARD
            </a>

            <a href="/playoff"
               class="button">
                PLAYOFF STAGE
            </a>

            <a href="/moments"
               class="button">
                MOMENTS
            </a>

        </div>

    </div>

</main>


<footer>

    © 2026 MPC TOURNAMENT

</footer>


</body>
</html>